:root {
    --search-color: #197583;
  }

.externalLink {
    color: #CB4E3F;
    transition: all .2s;
    padding: .15em;
}

.externalLink:hover {
    color: white;
    background-color: #CB4E3F;
    cursor: pointer;
}

.externalLink-icon {
    padding-left: .2em;
    height: 0.5em;
    width: 0.5em;
    fill: currentColor;
}

li {
    list-style: none;
    font-family: sans-serif;
    padding-top: 0.5em;
}
li::before {
    content: attr(data-bullet);
    height:1em;
    width:1em;
    position: absolute;
    margin-left: -1.5em;
    background-repeat:no-repeat;
    background-size:100%;
    background-image: url("svg/done-24px.svg");
    filter: invert(1); /* Using this filter to make the black svg white */
    background-color: #DF4A75; /* Using the inverse of the desired color because of the filter */
    border-radius:50%;
}

.searchField {
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 50px;
    width: 200px;
    height: 40px;
    margin-left: 50px;
}

.searchField-input {
    margin-left: 20px;
    flex-grow:2;
    border: none;
    font-size: 1em;
    width: 30px;
    height: 100%;
}

input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.searchField-input::placeholder {
    font-style: italic;
    font-weight: bold;
    font-family: serif;
    color: var(--search-color);
}

.searchField-input:focus {
    outline: none;
}

.searchField-button {
    border: none;
    border-radius: 0 50px 50px 0;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    background-color: white;
}

.searchField-button:hover, .searchField-button:hover > .searchField-icon {
    background-color: var(--search-color);
    fill: white;
    cursor: pointer;
}

.searchField-icon {
    height: 1.2em;
    padding-top: 0.15em;
    fill: var(--search-color);
}